html {
  
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;


}
.header {
    background-color: rgb(74, 101, 95);
    display: flex;
   
}

.herolarge {
    background-color: rgb(74, 101, 95);
    display: flex;

}

.hero {
    display: flex;
    flex-direction: column;
}

.imagecards {
    display: flex;

}

.quote {
    background-color: rgb(183, 192, 199);
}

.footer {
    background-color: rgb(74, 101, 95);
}

h1 {
    font: 48px bold white;
}

.smallphoto {
    max-width: 100px;
    max-height: 100px;

}